*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #EEEE;
    color: #000;
    font-family:'Roboto', sans-serif;
}
.header{
        font-size: 50px;
        text-align: center;
        padding: 20px 0px;
    }
.container{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(2, 2fr);
    gap: 20px 10px;
    background-color: bisque;
    min-height: 80vh;
}
.item{
        background-color: cornflowerblue;
        border: 2px solid #000;
        color:#EEEE ;
    }
