/*
    La propiedad box-shadow se creó para añadir efectos de sombra a nuestra caja.
    En esencia lo que hace es crear un clon de la caja respetando la forma de su box-model (ancho, alto, redondez)
    La sintaxis de box-shadow se puede escribir de distintas formas según lo que queramos conseguir.
      Los valores que le podemos poner son:
        offset-x -> Desplazamiento en x (obligatorio)
        offset-y -> Desplazamiento en y (obligatorio)
        blur-radius -> Desenfoque de la sombra
        spread-radius -> Expansión de la sombra
        color -> El color de la sombra, si no lo especificamos lo heredará del elemento al que pertenece
        inset -> Determina si la sombra será interior o exterior
*/
*{
    box-sizing: border-box;
}
.caja{
    background-color:darkorange;
    width: 130px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    padding: 40px;
    text-align: center;
    box-shadow: 5px 5px 3px blue, 10px 10px 3px red;
    /* si no se le asigna un color al box-shadow se coloca por defecto 
    el mismo color de la letra */
    /* si coloco una coma después de asignar los valores de una sombra puedo colocar otra, 
    pero sumando lo de la anterior */
    border: 5px solid chocolate
}
.caja2{
    background-color:darkorange;
    width: 130px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    padding: 40px;
    text-align: center;
    box-shadow: inset 5px 5px 3px blue, inset 10px 10px 3px red;
    border-radius: 100px;
    
}
/* otro truco para  usar la opacidad en la sombras es colocar un rgba(0,0,0,0.1) o un rgb(0,0,0/0.1) */